body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#container {
  background-color:purple;
  background-image: url(media/synth.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
}



.apartment {
  grid-column-start: 4;
  grid-column-end: 18;

  grid-row-start: 4;
  grid-row-end: 11;

  height: 100%;
  bottom:0;
  width: 100%;
  mix-blend-mode: difference;
}

.spacevid{
 
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    opacity: 0.5;
    
  
}

.apartment:hover {
  mix-blend-mode: color-dodge;
}

audio {
  position: fixed;
  top: 0;
  align-self: center;
}

